extends base.pug

//- block script

block style
    style
        include ../static/style.css

block content 
    #quotes
      img(src='static/img/quote-right.svg' alt='')
    section#about
      p I create Premium Web-designs (that are responsive for almost all devices) on which you can trust. You can even make me create your choice of Web-designs and I will try my best to give outstanding user experience, I'm even ready to make changes if required in your Website anytime. My goal is to provide astonishing user experience.
      #line
        img(src='static/img/blue seperator line.svg' alt='')
      #myName
        p HARSH VARMORA
      #myProfession
        p MERN-Stack Web Developer
    section#myWork
      #heading
        p My Websites
    .headingPara
      p#headingPara Here is my collection of the Websites, Games(Web-games), Projects, Web-pages, make sure to take a look!
    section#websiteGrid
      a#item5.item(href='https://hover-chat-by-harshcreations.netlify.app/' target='_blank')
        .img
          img(src='static/img/HoverChatLogo.png' alt='')
        .webName
          p Hover Chat - Realtime
      a#item6.item(href='https://debit-card-design-byharshcreations.netlify.app/' target='_blank')
        .img
          img(src='static/img/Debit_Glassmorphism_Logo.png' alt='')
        .webName
          p Debit Card - Glassmorphism    
      a#item1.item(href='https://quick-bite.netlify.app/' target='_blank')
        .img
          img(src='static/img/logoBQ.png' alt='')
        .webName
          p Quick Bite
        // <div class="webType"><p>Food Delivery</p></div>
      a#item2.item(href='https://eatersnake.netlify.app/' target='_blank')
        .img
          img(src='static/img/logoES.png' alt='')
        .webName
          p Eater Snake
      a#item3.item(href='http://xtremefitness.c1.biz/' target='_blank')
        .img
          img(src='static/img/logoXF.png' alt='')
        .webName
          p Xtreme Fitness
      a#item4.item(href='https://analogbyharshcreations.netlify.app/' target='_blank')
        .img
          img(src='static/img/logoLiveClock.png' alt='')
        .webName
          p Live Clock
